<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>{% block title %}Welcome{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">

    <!-- Bokeh Specific -->
    <link rel="stylesheet" href="/static/css/bokeh-0.12.9.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bokeh-widgets-0.12.9.css" type="text/css">

    <!-- custom css -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/submenu.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
    <style>.bk-root .bk-ui-widget-content {
        background-image: none !important;
        background-color: #ff9900 !important;
    }

    .bk-root .bk-ui-slider-vertical .bk-ui-slider-handle {
        left: -0.24em !important;
        margin-left: 0;
        margin-bottom: -0.6em;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #7f7f7f;
        background-color: #fff;
    }


    </style>
    <link rel="shortcut icon" href="/static/favicon.ico">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#hr-menu-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.hrforecast.de/" target="_blank">
                    <img alt="HRForecast" src="/static/img/HRForecast_Logo.svg">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="hr-menu-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-signal"></span>
                        Single Case Warranty Analysis</a></li>
                    <li><a href="/global/"><span class="glyphicon glyphicon-equalizer"></span>
                        Global Warranty Analysis</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="https://www.continental-corporation.com/en" target="_blank">
                        <img alt="Continental" src="/static/img/Continental-Logo.svg">
                    </a>
                    {% if is_admin %}
                        <li><a href="~admin/">Administration</a></li>
                    {% endif %}
                    <a href="/logout/" title="Logout">
                        <span class="glyphicon glyphicon-log-out"
                              style="margin-top: 16px;color:rgb(246,139,29)"></span>
                    </a>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container">
    <div class="row">
        {% block content %}


        {% endblock %}
    </div>

</div>

</body>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/global_scripts.js"></script>
<script type="text/javascript" src="/static/js/bokeh-0.12.9.min.js"></script>
<script type="text/javascript" src="/static/js/bokeh-widgets-0.12.9.js"></script>

{% block extras %}
{% endblock %}

</html>