{% extends 'base.html' %}

{% block title %}Welcome, {{ username }}{% endblock %}

{% block actions %}
{% if is_loggedin %}
<ul class="nav navbar-nav navbar-right">
  {% if is_admin %}
  <li><a href="~admin/">Administration</a></li>
  {% endif %}
  <li><a href="/logout/">Logout</a></li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="/login/">Login</a></li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-5 well">
            <h2>Filter EWT</h2>
            <div id="custom-search-input">
                <form class="input-group col-md-12" method="get" action="/GLOBAL">
                    <input type="text" class="form-control input-lg" placeholder="Part Number" name="part_number" />
                    <input type="text" class="form-control input-lg" placeholder="Year" name="year" />
                    <input type="text" class="form-control input-lg" placeholder="Plant" name="plant" />
                    <input type="text" class="form-control input-lg" placeholder="Model" name="model" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </form>
            </div>
        </div>

    <div class="col-md-5 col-md-offset-2 well">
            <h2>Filter SQDF</h2>
            <div id="custom-search-input">
                <form class="input-group col-md-12" method="get" action="/GLOBAL">
                    <input type="text" class="form-control input-lg" placeholder="DTC" name="dtc" />
                    <input type="text" class="form-control input-lg" placeholder="Time Start" name="time_start" />
                    <input type="text" class="form-control input-lg" placeholder="Time End" name="time_end" />
                    <input type="text" class="form-control input-lg" placeholder="Model" name="model" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </form>
            </div>
        </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        
    </div>
    {% if plot_available %}
      {{ div|safe }}
    {% endif %}
  </div>
{% endblock %}

{% block extras %}
    {{ script|safe }}
{% endblock %}
