{% extends 'base.html' %}

{% block title %}Welcome, {{ username }}{% endblock %}


{% block content %}
<div class="row index_content">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green glyphicon glyphicon-signal" style="color:rgb(246,139,29)"></span>

            <div class="info-box-content">
                <span class="info-box-text"><h3>Single Case Analyis</h3></span>
                <div>
                    <span style="display:inline;"
                          class="info-box-text">Analysis by VINs</span>
                    <div class="pull-right">
                        <a href="#">
                            <span class="glyphicon glyphicon-chevron-right"
                                  style="color:rgb(246,139,29);font-size: 1.7em;"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
                                <span class="info-box-icon bg-green glyphicon glyphicon-equalizer"
                                      style="color:rgb(246,139,29)"></span>

            <div class="info-box-content">
                <span class="info-box-text"><h3>Global Case Analyis</h3></span>
                <div><span style="display:inline;"
                           class="info-box-text">Dynamic analysis over different factors</span>
                    <div class="pull-right">
                        <a href="/global/">
                            <span class="glyphicon glyphicon-chevron-right"
                                  style="color:rgb(246,139,29);font-size: 1.7em;"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
                            <span class="info-box-icon bg-green glyphicon glyphicon-duplicate"
                                  style="color:rgb(246,139,29)"></span>

            <div class="info-box-content">
                <span class="info-box-text"> <h3>Saved Canvases</h3></span>
                <div><span style="display:inline;"
                           class="info-box-text">Previously saved canvases</span>
                    <div class="pull-right">
                        <a href="/list_plots/">
                            <span class="glyphicon glyphicon-chevron-right"
                                  style="color:rgb(246,139,29);font-size: 1.7em;"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr size="30">
<div class="col-md-8">
    <div class="panel panel-default ">
        <div class="panel-heading hr-panel-head">Available Data</div>
        <div class="panel-body">
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Data Size</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>EWT</td>
                    <td>Early Warning Tracking</td>
                    <td>10 GB</td>
                </tr>
                <tr>
                    <td>PRAS</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                </tr>
                <tr>
                    <td>SQDF</td>
                    <td>XXXX</td>
                    <td>XXXX</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="col-md-4 pull-right">
    <div class="panel panel-default ">
        <div class="panel-heading hr-panel-head">Summary</div>
        <div class="panel-body">
            <div class="info-box-small">
                                <span class="info-box-icon-small fa fa-lg fa-database"
                                      style="color:rgb(246,139,29)"></span>

                <div class="info-box-content">
                    <span class="info-box-text"><b>Total Data Volume:</b> 1000 GB</span>

                </div>
            </div>
            <div class="info-box-small">
                                <span class="info-box-icon-small fa fa-lg fa-arrow-circle-o-right"
                                      style="color:rgb(246,139,29)"></span>

                <div class="info-box-content">
                    <span class="info-box-text"><b>Recently Added Data: </b> 1000 GB </span>

                </div>
            </div>
            <div class="info-box-small">
                                <span class="info-box-icon-small fa fa-lg fa-hdd-o"
                                      style="color:rgb(246,139,29)"></span>

                <div class="info-box-content">
                    <span class="info-box-text"><b>Saved Canvases:</b> 20 </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
