{% extends 'base.html' %}

{% load manipulators %}

{% block title %}Welcome, {{ username }}{% endblock %}

{% block actions %}
    {% if is_loggedin %}
        <ul class="nav navbar-nav navbar-right">
            {% if is_admin %}
                <li><a href="~admin/">Administration</a></li>
            {% endif %}
            <li><a href="/logout/">Logout</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login/">Login</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <ul>
    {% if plots %}
        {% for plot in plots %}
        <li><a href="/view_plot/{{ plot.slug }}">{{ plot.name }}</a></li>
        {% endfor %}
    {% else %}
        <p>No Saved Plots</p>
    {% endif %}
    </ul>
{% endblock %}

{% block extras %}
    {{ script|safe }}
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.9.css" rel="stylesheet">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.9.js"></script>
{% endblock %}
